<div id="<%= dom_id title %>">
  <p>
    <strong>Name:</strong>
    <%= title.name %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= title.author_id %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= title.genre_id %>
  </p>

  <p>
    <strong>Barcode:</strong>
    <%= title.barcode %>
  </p>

</div>
